kctvn/WebContent/WEB-INF/conf/mapping.dtd

<!ELEMENT mapping  			(action-mapping)* >

<!ELEMENT action-mapping    (sql)* >
<!ATTLIST action-mapping	url      CDATA #REQUIRED
							model    CDATA                     ""
							view     CDATA                     "">
							
<!ELEMENT sql    			(#PCDATA)>
<!ATTLIST sql				id      CDATA #REQUIRED
							type    CDATA                     "">